includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/spaze/phpstan-disallowed-calls/extension.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon

parameters:
	level: 4
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- lib
