includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 2
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- lib
